body {
  background: #212121;
  color: white;
  font-family: "helvetica neue", sans-serif;
  letter-spacing: .16rem;
  line-height: 1.6rem;
  font-size: .9rem; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

fr {
  float: right; }

fl {
  float: left; }

a {
  color: white; }

a:hover {
  color: white;
  font-weight: bold; }

h1 {
  font-weight: 100; }
